body {
  font-size: ;
  line-height: ;
  font-family: 'Roboto', san-serif;
  color: ;
  font-style: normal;
  min-width: 320px;
  /*background-color: #f2f2f2;*/
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
  display: block;
  text-decoration: none;
}
.page-header {
  background-color: #e5baba;
  border-bottom: 1px solid #f2f2f2;
}
.page-header__wrapper {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
}
.page-header__container {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #d3bae5;
}
@media (max-width: 880px) {
  .page-header__container {
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffe05d;
  }
}
.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  /*height: 93px;*/
  background-color: #ffe05d;
}
@media (max-width: 880px) {
  .page-header__logo {
    justify-content: flex-start;
  }
}
.page-header__menu-btn {
  margin-left: auto;
  align-self: center;
}
.page-header__toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  margin-top: -11px;
  font-size: 0;
  cursor: pointer;
  border: none;
  outline: none;
}
.page-header__toggle--open {
  width: 23px;
  height: 21px;
  background: url("../img/icon-menu.png") no-repeat center;
}
.page-header__toggle--close {
  width: 23px;
  height: 22px;
  background: url("../img/icon-cross.png") no-repeat center;
}
@media (min-width: 881px) {
  .page-header__toggle {
    display: none;
  }
}
/*стили меню*/
.main-nav {
  flex-grow: 1;
  background-color: #ffffff;
}
.main-nav__items {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid transparent;
}
.main-nav__item:hover {
  border-bottom: 3px solid #e9c737;
}
.main-nav__item:hover .main-nav__link {
  font-weight: 700;
}
.main-nav__item-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #f4f4f4;
}
.main-nav__item--active {
  border-bottom: 3px solid #540207;
  font-weight: 700;
}
.main-nav__item--active .main-nav__link {
  font-weight: 700;
}
.main-nav__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #3d3d3d;
  text-decoration: none;
  text-align: center;
}
.main-nav__link--padding {
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
}
.main-nav__link .text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.main-nav__link .text__number {
  width: 240px;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.main-nav__link .text__request {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #242424;
}
.main-nav__link .text__request::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -37px;
  width: 27px;
  height: 27px;
  margin-top: -14px;
  background: #ffe05d url("../img/icon-phone.svg") no-repeat center;
  border-radius: 50%;
}
@media (max-width: 880px) {
  .main-nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 250px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  }
  .main-nav--open {
    display: block;
    /*animation-name: menu;
			animation-duration: 0.5s;*/
  }
  .main-nav__items {
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .main-nav__link {
    display: block;
    text-decoration: none;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-main__wrapper {
  margin: 0 auto;
  background-color: #dbdae0;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
}
.news__heading {
  max-width: 850px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
@media (max-width: 470px) {
  .news__heading {
    font-size: 30px;
    line-height: 40px;
  }
}
.news__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1173px;
  background-color: #e4ebca;
}
.news__item-link {
  text-decoration: none;
  margin-right: 3px;
  margin-bottom: 3px;
}
.news__item-link--display--none {
  display: none;
}
.news__item-link--display--block {
  display: block;
}
.news__item-link-1 {
  background: url('../img/news1.jpg') no-repeat center;
}
.news__item-link-2 {
  background: url('../img/news2.jpg') no-repeat center;
}
.news__item-link-3 {
  background: url('../img/news3.jpg') no-repeat center;
}
.news__item-link-4 {
  background: url('../img/news1.jpg') no-repeat center;
}
.news__item-link-5 {
  background: url('../img/news2.jpg') no-repeat center;
}
.news__item {
  max-width: 388px;
  box-sizing: border-box;
  padding: 90px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  /*&:last-child {
			margin-right: auto;
		}*/
}
.news__item:hover {
  background-color: transparent;
}
.news__item-text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}
.news__item time {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffe05d;
}
.news__all-link {
  position: relative;
  display: block;
  padding-left: 47px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1d1d;
}
.news__all-link::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 32px;
  height: 11px;
  background: url('../img/arrow_news_all.png') no-repeat center;
}
.news__all-link:hover {
  color: #c72828;
  text-decoration: underline;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.modal-overlay-show {
  display: block;
}
.library {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 1600px;
}
.library__item {
  width: auto;
}
.library__item img {
  width: auto;
  height: 100%;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.modal-content {
  display: none;
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 20;
  width: 500px;
  padding: 60px;
  box-sizing: border-box;
  margin-left: -250px;
  border: 2px solid #fee05c;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 0 #d0d0d0;
}
.modal-content-show {
  display: block;
}
.modal-content-close {
  position: absolute;
  top: -56px;
  right: -56px;
  width: 109px;
  height: 109px;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  background-color: #fee05c;
  transform: rotate(45deg);
  border: 0;
  cursor: pointer;
}
.modal-content-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  background: url("../img/cross.png");
  transform: rotate(45deg);
}
.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 45px;
  font-weight: 700;
}
.request-form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  line-height: 45px;
  font-weight: 700;
  border: 1px solid #d0d0d0;
  background-color: #f5f5f5;
}
.request-form__items-radio {
  display: flex;
  align-items: center;
  align-self: flex-start;
}
.request-form__items-radio-text {
  display: block;
  margin-right: 30px;
}
.request-form__item-radio {
  font-size: 0;
  line-height: 0;
  margin-right: 12px;
}
.request-form__input-radio {
  display: none;
}
.request-form__radio-indicator {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #d0d0d0;
  border: 1px solid #d0d0d0;
  background-color: #f5f5f5;
}
.request-form__radio-indicator1::before {
  content: "1";
  position: absolute;
  top: 2px;
  left: 6px;
}
.request-form__radio-indicator2::before {
  content: "2";
  position: absolute;
  top: 2px;
  left: 6px;
}
.request-form__radio-indicator3::before {
  content: "3";
  position: absolute;
  top: 2px;
  left: 6px;
}
.request-form__input-radio:checked + .request-form__radio-indicator {
  background-color: #fee05c;
  border-color: #fee05c;
  color: #000000;
}
.btn {
  width: 100%;
  font-size: 16px;
  line-height: 45px;
  font-weight: 700;
  border: none;
  background-color: #ffde5d;
  box-shadow: 0px 3px 6px 0 #d0d0d0;
}
/*.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.5);
}*/
